Cython==3.1.2
einops==0.8.1
huggingface-hub==0.30.1
matplotlib
numpy
openai==1.91.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
paddle-bfloat==0.1.7
paddleocr
paddlepaddle
paddlex
pandas
pillow
pycocotools
scikit-image
scikit-learn
scipy
timm
torch
torchvision
tqdm
transformers
addict
yapf
timm
supervision>=0.22.0
segment_anything